.booking-container {
  padding: 80px 120px;
}

.booking-container h1 {
  font-size: 36px;
  font-weight: bold;
}

.subtitle {
  color: #777;
  margin-bottom: 40px;
}

.subtext {
  color: #888;
  margin-bottom: 20px;
}

.slots {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 800px;
}

.slot-btn {
  padding: 14px;
  border-radius: 30px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  font-weight: 500;
}

.slot-btn:hover {
  background: #000;
  color: #fff;
}