.venue-container {
  padding: 60px;
}

.top-section {
  display: flex;
  gap: 50px;
  align-items: center;
}

.venue-image {
  width: 500px;
  border-radius: 15px;
}

.venue-info h1 {
  font-size: 40px;
}

.details-btn {
  margin-top: 20px;
  padding: 10px 25px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 40px;
  border-radius: 15px;
  width: 400px;
  text-align: center;
}

.close-btn {
  margin-top: 20px;
  padding: 8px 20px;
  border: none;
  background: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}